[package]
name = "fetch_real_data"
version = "0.1.0"
edition = "2021"

[dependencies]
core = { path = "../core" }
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
